.container
{
    background-color: rgb(236, 223, 223);
    justify-content: center;
    align-items: center;
    width: 300px;
    border: 15px green;
    padding: 20px;
    margin: 0 auto;
}
*{
    text-align: center;
}


#rememberMe
{
    color: aqua;
}